<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-8">

    <h1 class="page-header">
      My Blahgz
      <small>I like robots</small>
    </h1>

    <!-- BlogPosts -->
    <div ng-controller="homeController">

      Search: <input type="text" ng-model="search"/>
      Search by title: <input type="text" ng-model="search.title"/>

      Search is {{search}}

      <form>
        Title: <input type="text" ng-model="newPost.title"/>
        Content: <input type="text" ng-model="newPost.content"/>
        Tags:
          <md-checkbox ng-model-"newPost.tags" ng-repeat="tag in tags" ng-click="ToggleId(tag.id)">
            {{tag.name}}
          </md-checkbox>
        <div ng-click="submitNewPost()">submit</div>
        {{newPost}}
      </form>

      <span ng-repeat="post in posts | filter:search:strict">
        <a ui-sref="show({id: post.id})">
          <h2>{{post.title}}</h2>
        </a>
        <br>
        <p class="lead">
          by Bri
        </p>

        <span ng-if="post.tag_ids.length > 0">Tags:</span>
        <div ng-repeat="tag_id in post.tag_ids">
          {{getTagName(tag_id)}}
        </div>

        <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.date | date:'EEEE'}}</p>
        <hr>
        <img class="img-responsive" src="http://placekitten.com/900/300" alt="">
        <hr>
        <p>{{post.content}}</p>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

        <hr>
      </span>
      <!-- Pager -->
      <ul class="pager">
        <li class="previous">
          <a href="#">&larr; Older</a>
        </li>
        <li class="next">
          <a href="#">Newer &rarr;</a>
        </li>
      </ul>

    </div>
  </div>
  <!-- Blog Sidebar Widgets Column -->
  <div class="col-md-4">

    <!-- Blog Search Well -->
    <div class="well">
      <h4>Blog Search</h4>
      <div class="input-group">
        <input type="text" ng-model="search" class="form-control"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <!-- /.input-group -->
    </div>

    <!-- Blog Categories Well -->
    <div class="well">
      <h4>Tags</h4>
      <div class="row">
        <div class="col-lg-6">
          <ul class="list-unstyled">
            <li><a href="#">Category Name</a>
            </li>
            <li><a href="#">Category Name</a>
            </li>
            <li><a href="#">Category Name</a>
            </li>
            <li><a href="#">Category Name</a>
            </li>
          </ul>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
          <ul class="list-unstyled">
            <li><a href="#">Category Name</a>
            </li>
            <li><a href="#">Category Name</a>
            </li>
            <li><a href="#">Category Name</a>
            </li>
            <li><a href="#">Category Name</a>
            </li>
          </ul>
        </div>
        <!-- /.col-lg-6 -->
      </div>
      <!-- /.row -->
    </div>

    <!-- Side Widget Well -->
    <div class="well">
      <h4>Side Widget Well</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
    </div>

  </div>

</div>
<!-- /.row -->
</div>
